.pokemon-details-container {
  width: 100%;
}

.pokemon-details-container h2 {
  font-size: 1.75rem;
}
.pokemon-details-container .type {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.pokemon-details-container .info {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}

.pokemon-details-container .stadistics {
  display: flex;
  gap: 16px;
  margin-top: 20px;
  padding: 16px 24px;
}

.pokemon-details-container .stadistics .stats,
.abilities {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.pokemon-details-container .stadistics .stats .stat-container {
  display: grid;
  grid-template-columns: 3fr 7fr;
}
